#about {
    background: #1f2329;
    opacity: 1;
    overflow: hidden;
    margin: 0 auto;
    height: 300px;
 }
 
//  .about a, .about a:visited  { color: #fff; }
//  #about a:hover, #about a:focus { color: #11ABB0; }

#about p {
    line-height: 30px;
    color: #8d8d8d;
 }


